Content Engine - Athena/Athena B — Final Image Generation via Kie.ai (2).json
{
  "name": "Athena B — Final Image Generation via Kie.ai",
  "nodes": [
    {
      "parameters": {},
      "id": "4473ef8f-2297-4142-8e05-b8eec1d97ffe",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3600,
        640
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "id": "cb02eaca-c839-4808-86fe-e7f71bf9f573",
      "name": "Read Config Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3360,
        640
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Staging",
          "mode": "name"
        },
        "options": {}
      },
      "id": "83066511-3c59-4ac1-a255-32befdce3160",
      "name": "Read Staging Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3120,
        640
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Review",
          "mode": "name"
        },
        "options": {}
      },
      "id": "5a14909f-0b0d-4809-919d-8745d15cc61b",
      "name": "Read Review Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2880,
        640
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0c2e029-f08c-4a1c-b563-3e2b1fbd1de7",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2400,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-url-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileUrl",
              "value": "={{ $json.style_ref_url }}"
            },
            {
              "name": "uploadPath",
              "value": "athena-refs"
            },
            {
              "name": "fileName",
              "value": "style_ref.jpg"
            }
          ]
        },
        "options": {}
      },
      "id": "67269fe5-7b97-4381-8a49-f4a9b5422990",
      "name": "Upload Style Ref",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2048,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z92MZdAl7QI8qWFS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Split In Batches').item.json;\nconst kieStyleUrl = $json.data.downloadUrl;\nif (!kieStyleUrl) throw new Error('Style ref upload failed — no downloadUrl in response: ' + JSON.stringify($json).substring(0, 300));\nreturn [{ json: Object.assign({}, original, { kie_style_url: kieStyleUrl }) }];"
      },
      "id": "2f55df71-4030-4262-b8aa-542f51407229",
      "name": "Attach Style URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst refs = [];\nif (item.kie_style_url) refs.push(item.kie_style_url);\n\nreturn [{ json: Object.assign({}, item, {\n  kie_body: {\n    model: 'gpt-image-2-image-to-image',\n    input: {\n      prompt: item.resolved_prompt + '\\n\\nReference the provided style image to maintain visual consistency in palette, illustration style, and layout.',\n      input_urls: refs,\n      aspect_ratio: '4:5'\n    }\n  }\n}) }];"
      },
      "id": "0119f149-5955-4ed8-8161-d1d773b04493",
      "name": "Build Kie Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.kie_body) }}",
        "options": {}
      },
      "id": "75d0c8b1-b4be-4d2b-8d2d-249b7b5daa85",
      "name": "Submit to Kie AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z92MZdAl7QI8qWFS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "category": "={{ $json.category }}",
            "concept": "={{ $json.concept }}",
            "final_prompt": "={{ $json.final_prompt }}",
            "status": "={{ $json.final_status }}",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concept",
              "displayName": "concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_prompt",
              "displayName": "final_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_link",
              "displayName": "drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_preview",
              "displayName": "image_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refinement_notes",
              "displayName": "refinement_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "78b42dda-3576-4251-9f43-c1812c6f4c9c",
      "name": "Append Failure to Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.result_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "d53947ae-5097-4cbe-bb90-aca9ad786019",
      "name": "Download Generated Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        32
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "image",
        "name": "={{ $('Evaluate Poll Status').item.json.taskId }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HKeCLnWobr9L5A5CARJHEtqBNagpEDkw",
          "mode": "id"
        },
        "options": {}
      },
      "id": "bf51dd29-067f-4115-b20e-1d7baf0cb545",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zGBrXnVwzZ9qhg7f",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "547a2e46-38e7-478d-b1ba-35b5f5192f75",
      "name": "Make Image Public",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zGBrXnVwzZ9qhg7f",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileId       = $('Upload to Drive').item.json.id;\nconst originalItem = $('Evaluate Poll Status').item.json;\nconst directLink   = 'https://drive.google.com/uc?id=' + fileId;\n\nreturn [{ json: Object.assign({}, originalItem, {\n  drive_file_id:  fileId,\n  drive_link:     directLink,\n  image_formula:  '=IMAGE(\"' + directLink + '\")',\n  final_status:   'Pending Review'\n}) }];"
      },
      "id": "128aaaf9-2347-4692-9ab5-68f98d1e35e1",
      "name": "Build Drive Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "category": "={{ $json.category }}",
            "concept": "={{ $json.concept }}",
            "final_prompt": "={{ $json.final_prompt }}",
            "drive_link": "={{ $json.drive_link }}",
            "image_preview": "={{ $json.image_formula }}",
            "status": "Pending Review",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concept",
              "displayName": "concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_prompt",
              "displayName": "final_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_link",
              "displayName": "drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_preview",
              "displayName": "image_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refinement_notes",
              "displayName": "refinement_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_filter_reason",
              "displayName": "ai_filter_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "your_approval",
              "displayName": "your_approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resolved_prompt",
              "displayName": "resolved_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "style_ref_url",
              "displayName": "style_ref_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_style_url",
              "displayName": "kie_style_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_body",
              "displayName": "kie_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result_image_url",
              "displayName": "result_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_action",
              "displayName": "next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_formula",
              "displayName": "image_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_status",
              "displayName": "final_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_count",
              "displayName": "poll_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_status",
              "displayName": "poll_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a13aaed3-4f05-4e3a-810a-7481ebc6f09c",
      "name": "Append Success to Review",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Build Drive Link').item.json.source }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "8da4ba6c-7c77-4a32-825f-80077075540b"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1c83dfc-d6d4-4f44-ae05-2c22d0e70881",
      "name": "Is New Generation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Staging",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "status": "done",
            "row_number": 0
          },
          "matchingColumns": [
            "idea_id "
          ],
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "concept",
              "displayName": "concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_prompt",
              "displayName": "final_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_filter_reason",
              "displayName": "ai_filter_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "your_approval",
              "displayName": "your_approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resolved_prompt",
              "displayName": "resolved_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "style_ref_url",
              "displayName": "style_ref_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_style_url",
              "displayName": "kie_style_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_body",
              "displayName": "kie_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_count",
              "displayName": "poll_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_action",
              "displayName": "next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result_image_url",
              "displayName": "result_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_status",
              "displayName": "poll_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drive_link",
              "displayName": "drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_formula",
              "displayName": "image_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_status",
              "displayName": "final_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "28679aef-8eda-41e1-ba84-2943250c7dce",
      "name": "Update Staging Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1296,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "status": "Refined",
            "row_number": 0
          },
          "matchingColumns": [
            "taskId"
          ],
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "concept",
              "displayName": "concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_prompt",
              "displayName": "final_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drive_link",
              "displayName": "drive_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_preview",
              "displayName": "image_preview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refinement_notes",
              "displayName": "refinement_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_filter_reason",
              "displayName": "ai_filter_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "your_approval",
              "displayName": "your_approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resolved_prompt",
              "displayName": "resolved_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "style_ref_url",
              "displayName": "style_ref_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_style_url",
              "displayName": "kie_style_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kie_body",
              "displayName": "kie_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result_image_url",
              "displayName": "result_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_action",
              "displayName": "next_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_formula",
              "displayName": "image_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_status",
              "displayName": "final_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taskId",
              "displayName": "taskId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_count",
              "displayName": "poll_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "poll_status",
              "displayName": "poll_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "27b7f245-c0ea-4e04-b0db-63abe4d5f5be",
      "name": "Update Review Refined",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c6135bd9-e6fc-4ae4-b64a-07dc17ba0e38",
      "name": "Throttle Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        240
      ],
      "webhookId": "athena-throttle-b"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Read Config Sheet').all();\nconst configMap = {};\nconfig.forEach(item => { configMap[item.json.category] = item.json; });\n\nconst staging = $('Read Staging Sheet').all();\nconst review  = $('Read Review Sheet').all();\n\nconst approvedStaging = staging.filter(i => {\n  const approved = i.json.your_approval === true || String(i.json.your_approval).toUpperCase() === 'TRUE';\n  const pending  = (i.json.status || '').toLowerCase() === 'pending_review';\n  return approved && pending;\n});\n\nconst needsRefinement = review.filter(i =>\n  (i.json.status || '').toLowerCase() === 'needs refinement'\n);\n\nconst merged = [];\n\napprovedStaging.forEach(item => {\n  const cfg = configMap[item.json.category] || {};\n  merged.push(Object.assign({}, item.json, {\n    source: 'new',\n    resolved_prompt: item.json.final_prompt,\n    style_ref_url: cfg.style_ref_url || ''\n  }));\n});\n\nneedsRefinement.forEach(item => {\n  const cfg   = configMap[item.json.category] || {};\n  const notes = item.json.refinement_notes || '';\n  const prompt = item.json.final_prompt + (notes ? '\\n\\nRefinement notes: ' + notes : '');\n  merged.push(Object.assign({}, item.json, {\n    source: 'refinement',\n    resolved_prompt: prompt,\n    style_ref_url: cfg.style_ref_url || ''\n  }));\n});\n\nif (merged.length === 0) {\n  throw new Error('Nothing to process. Approve rows in Staging or mark rows as Needs Refinement in Review.');\n}\n\nreturn merged.map(item => ({ json: item }));"
      },
      "id": "149dc5ee-e94a-47e6-9e2c-0f6c7e44493b",
      "name": "Merge and Resolve Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        640
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const submit = $json;\nconst item   = $('Build Kie Request').item.json;\n\nconst taskId = (submit.data && submit.data.taskId) || submit.taskId;\nif (!taskId) throw new Error('No taskId in Kie response: ' + JSON.stringify(submit).substring(0, 300));\n\nreturn [{ json: Object.assign({}, item, {\n  taskId,\n  poll_count: 0,\n  next_action: 'retry',\n  result_image_url: null\n}) }];"
      },
      "id": "5d067fd9-2760-4301-9649-47f613aaeb43",
      "name": "Init Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        480
      ]
    },
    {
      "parameters": {
        "amount": 45
      },
      "id": "c62952af-52c3-4d11-b29f-9b7142ce1f09",
      "name": "Wait Before Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1232,
        160
      ],
      "webhookId": "athena-poll-wait"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "7c4377b5-db96-42b7-9ccc-1754d2fb93c6",
      "name": "Poll Kie AI Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z92MZdAl7QI8qWFS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusData = $json;\nconst prior      = $('Wait Before Poll').item.json;\nconst polls      = (prior.poll_count || 0) + 1;\n\nconst d     = (statusData && statusData.data) || {};\nconst state = d.state;\n\n// Try both known result URL paths\nconst result          = JSON.parse(d.resultJson || '{\"resultUrls\":[]}');\nconst result_image_url = result.resultUrls[0] || null;\n\n\nlet nextAction;\nif (state === 'success') nextAction = 'continue';\nelse if (polls >= 20)    nextAction = 'fail';\nelse                     nextAction = 'retry';\n\nreturn [{ json: Object.assign({}, prior, {\n  poll_count:       polls,\n  next_action:      nextAction,\n  result_image_url: result_image_url,\n  poll_status:      state || 'unknown'\n}) }];"
      },
      "id": "01374000-d2be-44da-899c-e297f027eec5",
      "name": "Evaluate Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "continue",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "gen-complete-cond"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e62ddf32-9212-4641-beaa-53dde605e394",
      "name": "Is Generation Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.next_action }}",
              "rightValue": "retry",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "should-retry-cond"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "245439ea-9dc9-48b5-9607-7a638b985e93",
      "name": "Should Retry Poll?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: Object.assign({}, item, {\n  drive_link:    '',\n  image_formula: '',\n  final_status:  'Generation Failed (polls: ' + item.poll_count + ', status: ' + (item.poll_status || 'unknown') + ')'\n}) }];"
      },
      "id": "2e83088e-fd92-4ad1-b0fb-503c083814bc",
      "name": "Build Failure Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Config Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config Sheet": {
      "main": [
        [
          {
            "node": "Read Staging Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Staging Sheet": {
      "main": [
        [
          {
            "node": "Read Review Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Review Sheet": {
      "main": [
        [
          {
            "node": "Merge and Resolve Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Upload Style Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Style Ref": {
      "main": [
        [
          {
            "node": "Attach Style URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Style URL": {
      "main": [
        [
          {
            "node": "Build Kie Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Kie Request": {
      "main": [
        [
          {
            "node": "Submit to Kie AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Kie AI": {
      "main": [
        [
          {
            "node": "Init Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Failure to Review": {
      "main": [
        [
          {
            "node": "Throttle Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Generated Image": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Make Image Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Image Public": {
      "main": [
        [
          {
            "node": "Build Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Drive Link": {
      "main": [
        [
          {
            "node": "Append Success to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Success to Review": {
      "main": [
        [
          {
            "node": "Is New Generation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Generation?": {
      "main": [
        [
          {
            "node": "Update Staging Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Review Refined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Staging Done": {
      "main": [
        [
          {
            "node": "Throttle Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Review Refined": {
      "main": [
        [
          {
            "node": "Throttle Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge and Resolve Items": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll State": {
      "main": [
        [
          {
            "node": "Wait Before Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll": {
      "main": [
        [
          {
            "node": "Poll Kie AI Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Kie AI Status": {
      "main": [
        [
          {
            "node": "Evaluate Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Poll Status": {
      "main": [
        [
          {
            "node": "Is Generation Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Generation Complete?": {
      "main": [
        [
          {
            "node": "Download Generated Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Retry Poll?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry Poll?": {
      "main": [
        [
          {
            "node": "Wait Before Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Row": {
      "main": [
        [
          {
            "node": "Append Failure to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6956b7dc-2518-4bf9-a36a-533b7b07c73c",
  "meta": {
    "instanceId": "d6108346ea3eff253d2f594042772a3f74c702fa1c47a44609362609adbe7f30"
  },
  "nodeGroups": [],
  "id": "R0csqXvWhCC2nf99",
  "tags": []
}