Content Engine - Athena/Athena A — Idea & Prompt Generation (1).json
{
  "name": "Athena A — Idea & Prompt Generation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Run Athena Content Batch",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Number of ideas to generate",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Category focus (leave blank for All)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "All"
                  },
                  {
                    "option": "SAT_MYTH"
                  },
                  {
                    "option": "BRAIN_TEASER"
                  },
                  {
                    "option": "NOTES_APP"
                  },
                  {
                    "option": "COMIC"
                  },
                  {
                    "option": "BEAGLE_EXPLAINS"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d7d9d7a8-0a9a-492b-93d4-a1a366df5faa",
      "name": "Batch Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        464,
        96
      ],
      "webhookId": "47a45dcb-025b-43de-aaf9-67b1ba90539b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ccf564df-b6ad-480c-81e4-180543fe991f",
      "name": "Read Config Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Read Config Sheet').all();\nconst configMap = {};\nconfig.forEach(item => { configMap[item.json.category] = item.json; });\n\nconst batchSize = parseInt($('Batch Form Trigger').first().json['Number of ideas to generate']) || 10;\nconst categoryFocus = $('Batch Form Trigger').first().json['Category focus (leave blank for All)'] || 'All';\nconst allCats = ['SAT_MYTH', 'BRAIN_TEASER', 'NOTES_APP', 'COMIC', 'BEAGLE_EXPLAINS'];\nconst active = categoryFocus === 'All' ? allCats : [categoryFocus];\n\nconst guides = active.map(cat => {\n  const guide = (configMap[cat] || {}).style_guide || '[No style guide — fill in Config sheet]';\n  return '=== ' + cat + ' ===\\n' + guide;\n}).join('\\n\\n');\n\nconst system = [\n  'You are the creative content strategist for Athena, an SAT prep platform.',\n  '',\n  'NON-NEGOTIABLE BRAND RULES:',\n  '- Athena is a personalized TEACHER, never an AI product, dashboard, or analytics tool',\n  '- Core outcome: Ohhhh... now I get it.',\n  '- Mascot: A cute Beagle dog — curious, friendly, slightly goofy. The Beagle is the guide/student in content, never the product.',\n  '- Primary audience: Parents aged 35-55 worried about SAT scores, college admissions, tutoring costs, their kid feeling stuck.',\n  '- NEVER lead with: AI-powered, adaptive learning, algorithms, analytics, dashboards.',\n  '',\n  'CRITICAL INSTRUCTION FOR final_prompt:',\n  'The final_prompt is sent DIRECTLY to an AI image generation model with no other context.',\n  'Structure every final_prompt as: [full category style guide text verbatim] followed by [the specific content for this idea].',\n  'Do NOT summarize the style guide. Embed it in full so the image model has everything it needs.',\n  '',\n  'ACTIVE STYLE GUIDES:',\n  guides,\n  '',\n  'OUTPUT: Respond with ONLY a raw JSON array. No markdown fences. No preamble. Each object must have exactly: idea_id (unique string), category (one of the active categories), concept (one sentence), final_prompt (complete verbose image generation prompt).'\n].join('\\n');\n\nconst user = categoryFocus === 'All'\n  ? 'Generate exactly ' + batchSize + ' content ideas distributed roughly evenly across: ' + active.join(', ') + '.'\n  : 'Generate exactly ' + batchSize + ' content ideas for the ' + categoryFocus + ' category.';\n\nreturn [{ json: { body: {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 20000,\n  system,\n  messages: [{ role: 'user', content: user }]\n} } }];"
      },
      "id": "7edd8369-37de-4a2a-83d8-895468f200cf",
      "name": "Build Claude Prompt Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "3d4fb7dc-26a9-4ea8-a33c-5add3c6e6287",
      "name": "Generate Ideas - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "M8I22KcQuH3PnsSi",
          "name": "Header Auth account 4"
        },
        "anthropicApi": {
          "id": "m68suvcU3EXkZJhh",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content[0].text;\nreturn [{ json: { \n  type_of_raw: typeof raw,\n  first_100: raw.substring(0, 100),\n  length: raw.length\n} }];"
      },
      "id": "2b823d9a-34c5-46b6-a3dd-d4da6cc8ec7f",
      "name": "Parse Ideas JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const allIdeas = $input.all().map(i => i.json);\n\nconst system = [\n  'You are a strict content quality reviewer for Athena SAT prep content. For each idea evaluate:',\n  '1. Is the concept visually concrete enough to render as a single image?',\n  '2. Does it align with the Athena brand — personalized teacher, not AI product?',\n  '3. Would it genuinely resonate with parents of high-schoolers or students feeling stuck?',\n  '4. Is it fresh and not a tired SAT prep cliche?',\n  '',\n  'Return ONLY a raw JSON array, same length and same order as input. Each object: {idea_id, keep (boolean), reason (brief string)}. No markdown. No preamble.'\n].join('\\n');\n\nreturn [{ json: { body: {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 2000,\n  system,\n  messages: [{ role: 'user', content: 'Review and filter these ideas:\\n' + JSON.stringify(allIdeas, null, 2) }]\n} } }];"
      },
      "id": "f4a742fe-0124-4bf2-9b71-ee3b13ade49d",
      "name": "Build Filter Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "920afd95-c92d-43d5-8019-2f1149766a56",
      "name": "Filter Ideas - Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "M8I22KcQuH3PnsSi",
          "name": "Header Auth account 4"
        },
        "anthropicApi": {
          "id": "m68suvcU3EXkZJhh",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content[0].text;\n\nfunction safeParse(text) {\n  let s = text.trim();\n  s = s.replace(/^```json\\s*/i, '').replace(/^```\\s*/, '').replace(/\\s*```$/, '').trim();\n  return JSON.parse(s);\n}\n\nlet decisions;\ntry {\n  decisions = safeParse(raw);\n} catch(e) {\n  throw new Error('Filter response parse failed: ' + e.message);\n}\n\nconst map = {};\ndecisions.forEach(d => { map[d.idea_id] = d; });\n\nconst originals = $('Parse Ideas JSON').all().map(i => i.json);\n\nreturn originals.map(idea => {\n  const d = map[idea.idea_id] || { keep: true, reason: 'no decision returned — defaulting to keep' };\n  return { json: Object.assign({}, idea, { ai_keep: d.keep, ai_filter_reason: d.reason }) };\n});"
      },
      "id": "5f5093c1-ba8f-4198-9a85-4e94812191ec",
      "name": "Merge Filter Decisions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ai_keep }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "773c21af-d751-42a9-925b-ea2b0c06167f"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47754f39-0175-4f3e-9008-b75090ad5b28",
      "name": "Keep AI Approved",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2464,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SD7iCvtXWlVgawV5YlLICp-Ff84Dzdn2wKghzQd4b80",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Staging",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category": "={{ $json.category }}",
            "concept": "={{ $json.concept }}",
            "final_prompt": "={{ $json.final_prompt }}",
            "ai_filter_reason": "={{ $json.ai_filter_reason }}",
            "your_approval": false,
            "status": "pending_review",
            "timestamp": "={{ $now.toISO() }}",
            "idea_id ": "={{ $json.idea_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concept",
              "displayName": "concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_prompt",
              "displayName": "final_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_filter_reason",
              "displayName": "ai_filter_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "your_approval",
              "displayName": "your_approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3a602933-024c-4aeb-8b5c-9fa2c0babf61",
      "name": "Append to Staging Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2720,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Batch Form Trigger": {
      "main": [
        [
          {
            "node": "Read Config Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config Sheet": {
      "main": [
        [
          {
            "node": "Build Claude Prompt Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt Request": {
      "main": [
        [
          {
            "node": "Generate Ideas - Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ideas - Claude": {
      "main": [
        [
          {
            "node": "Parse Ideas JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ideas JSON": {
      "main": [
        [
          {
            "node": "Build Filter Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Filter Request": {
      "main": [
        [
          {
            "node": "Filter Ideas - Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ideas - Claude": {
      "main": [
        [
          {
            "node": "Merge Filter Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Filter Decisions": {
      "main": [
        [
          {
            "node": "Keep AI Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep AI Approved": {
      "main": [
        [
          {
            "node": "Append to Staging Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "28784304-b922-487d-99d7-410f537e6ef1",
  "meta": {
    "instanceId": "d6108346ea3eff253d2f594042772a3f74c702fa1c47a44609362609adbe7f30"
  },
  "nodeGroups": [],
  "id": "YmaWPlTWem1hLGHi",
  "tags": []
}