ContentEngine - General/General C — Post Carousels via Buffer.json
{
  "name": "General C — Post Carousels via Buffer",
  "nodes": [
    {
      "parameters": {},
      "id": "0626a25a-6b4d-4096-8fc7-d02a3c43ce89",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "08aa359f-4220-4fec-bedc-3dc90d2274dc",
      "name": "Read Config Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        96
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "64b95edd-6c5d-427c-86ee-d55ae4691d6d",
      "name": "Read Review Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        96
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_MAP = {\n  YOUR_POST_CATEGORY_1:        { channelId: '_____', account: 1, name: '____' },\n  YOUR_POST_CATEGORY_2:    { channelId: '_____', account: 1, name: '____' },\n  YOUR_POST_CATEGORY_3:           { channelId: '____', account: 1, name: '____' },\n  YOUR_POST_CATEGORY_4:       { channelId: '____', account: 2, name: '____' },\n  YOUR_POST_CATEGORY_5: { channelId: '_____', account: 2, name: '____' }\n};\n\nconst config = $('Read Config Sheet').all();\nconst configMap = {};\nconfig.forEach(item => { configMap[item.json.category] = item.json; });\n\nconst review = $('Read Review Sheet').all();\n\n// Rows marked Post (case-insensitive), with a drive link present\nconst postable = review.filter(i => {\n  const status = String(i.json.status || '').trim().toLowerCase();\n  const hasLink = (i.json.drive_link || '').includes('drive.google.com');\n  return status === 'post' && hasLink;\n});\n\n// Group by category\nconst byCategory = {};\npostable.forEach(i => {\n  const cat = i.json.category;\n  if (!byCategory[cat]) byCategory[cat] = [];\n  byCategory[cat].push(i.json);\n});\n\n// For each category with >= 5, take the 5 oldest (by timestamp), flatten to per-image items\nconst IMAGES_PER_POST = 5;\nconst out = [];\n\nObject.keys(byCategory).forEach(cat => {\n  const rows = byCategory[cat];\n  if (rows.length < IMAGES_PER_POST) return; // skip category — not enough marked\n\n  const channel = CHANNEL_MAP[cat];\n  if (!channel) return; // unknown category — skip rather than post to wrong account\n\n  const caption = (configMap[cat] || {}).post_caption || '';\n\n  rows.sort((a, b) => String(a.timestamp || '').localeCompare(String(b.timestamp || '')));\n  const selected = rows.slice(0, IMAGES_PER_POST);\n\n  selected.forEach((row, idx) => {\n    // Extract Drive file id from uc?id=FILE_ID link\n    const m = String(row.drive_link || '').match(/[?&]id=([A-Za-z0-9_-]+)/);\n    const driveFileId = m ? m[1] : null;\n    if (!driveFileId) return;\n\n    out.push({\n      json: {\n        category: cat,\n        buffer_channel_id: channel.channelId,\n        buffer_account: channel.account,\n        channel_name: channel.name,\n        post_caption: caption,\n        idea_id: row['idea_id '] || row.idea_id || '',\n        drive_file_id: driveFileId,\n        image_order: idx\n      }\n    });\n  });\n});\n\nif (out.length === 0) {\n  throw new Error('No categories have 5+ rows marked Post in the Review sheet. Mark at least 5 rows in one category (status column = Post) and re-run.');\n}\n\nreturn out;"
      },
      "id": "29dc1878-b4ed-426c-82da-98924b581a39",
      "name": "Select Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1aa2109-df62-4b6e-b76e-02e573be3b45",
      "name": "Post Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        96
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.drive_file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "id": "1790144b-a87f-45d4-a969-92da161ab5ef",
      "name": "Download From Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        -64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zGBrXnVwzZ9qhg7f",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/bt91nfzl/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            },
            {
              "name": "upload_preset",
              "value": "[YOUR_UPLOAD_PRESET_NAME]"
            },
            {
              "name": "folder",
              "value": "[YOUR_FOLDER_NAME]"
            }
          ]
        },
        "options": {}
      },
      "id": "2467a173-ce68-4380-b4c8-31bb03239138",
      "name": "Upload To Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Post Loop').item.json;\nconst resp = $json;\n\nconst url = resp.secure_url || resp.url;\nif (!url) throw new Error('Cloudinary upload failed — no secure_url in response: ' + JSON.stringify(resp).substring(0, 300));\n\nreturn [{ json: Object.assign({}, original, { cloudinary_url: url }) }];"
      },
      "id": "092e7225-6034-4521-8153-799807f38cc2",
      "name": "Attach Cloudinary URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Items arrive from the loop 'done' port with cloudinary_url attached\nconst items = $input.all().map(i => i.json);\n\n// Group back by category\nconst byCategory = {};\nitems.forEach(it => {\n  if (!byCategory[it.category]) byCategory[it.category] = [];\n  byCategory[it.category].push(it);\n});\n\nconst out = [];\nObject.keys(byCategory).forEach(cat => {\n  const group = byCategory[cat].sort((a, b) => a.image_order - b.image_order);\n  if (group.length < 5) return; // an upload failed somewhere — don't post partial carousels\n\n  const first = group[0];\n\n  // Escape caption for embedding in GraphQL string\n  const caption = String(first.post_caption || '')\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n');\n\n  const assetsBlock = group.map(g =>\n    '{ image: { url: \"' + g.cloudinary_url + '\" } }'\n  ).join('\\n        ');\n\n  const mutation = `mutation CreatePost {\n  createPost(\n    input: {\n      text: \"${caption}\"\n      channelId: \"${first.buffer_channel_id}\"\n      schedulingType: automatic\n      mode: addToQueue\n      assets: [\n        ${assetsBlock}\n      ]\n    }\n  ) {\n    ... on PostActionSuccess {\n      post { id }\n    }\n    ... on MutationError {\n      message\n    }\n  }\n}`;\n\n  out.push({\n    json: {\n      category: cat,\n      buffer_account: first.buffer_account,\n      channel_name: first.channel_name,\n      idea_ids: group.map(g => g.idea_id),\n      graphql_body: { query: mutation }\n    }\n  });\n});\n\nif (out.length === 0) {\n  throw new Error('No complete 5-image groups survived the upload step. Check Cloudinary upload results.');\n}\n\nreturn out;"
      },
      "id": "bc5b1780-4382-4a3c-9909-0aba921e0d3c",
      "name": "Group Into Carousels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.buffer_account }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "id": "acct-route"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d5034a7-653b-4789-a405-1599619a4b39",
      "name": "Which Buffer Account?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.graphql_body) }}",
        "options": {}
      },
      "id": "9e9f185d-0312-40de-a2fa-64ccffa2d35d",
      "name": "Post To Buffer (Account 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SLNZI15TnbJv50Qr",
          "name": "Buffer Account 1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.graphql_body) }}",
        "options": {}
      },
      "id": "66aaf3a5-8eee-4b0f-9f94-fdc051f892c7",
      "name": "Post To Buffer (Account 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3zfjW4evWn5jyfW0",
          "name": "Buffer Account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst original = $input.first().json;\n\n// GraphQL always returns 200; errors live in the body\nconst postResult = (resp.data && resp.data.createPost) || {};\nconst success = !!(postResult.post && postResult.post.id);\nconst errorMsg = postResult.message || (resp.errors ? JSON.stringify(resp.errors).substring(0, 300) : '');\n\nif (!success) {\n  throw new Error('Buffer post failed for ' + (original.channel_name || 'unknown channel') + ': ' + (errorMsg || 'unknown error'));\n}\n\n// Fan out one item per idea_id so the Sheets update node marks each row\nconst ids = original.idea_ids || [];\nreturn ids.map(id => ({\n  json: {\n    idea_id: id,\n    category: original.category,\n    buffer_post_id: postResult.post.id,\n    new_status: 'Posted'\n  }\n}));"
      },
      "id": "9545e611-a8ae-47ad-8e96-2fab000aeb67",
      "name": "Check Response A1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst original = $input.first().json;\n\n// GraphQL always returns 200; errors live in the body\nconst postResult = (resp.data && resp.data.createPost) || {};\nconst success = !!(postResult.post && postResult.post.id);\nconst errorMsg = postResult.message || (resp.errors ? JSON.stringify(resp.errors).substring(0, 300) : '');\n\nif (!success) {\n  throw new Error('Buffer post failed for ' + (original.channel_name || 'unknown channel') + ': ' + (errorMsg || 'unknown error'));\n}\n\n// Fan out one item per idea_id so the Sheets update node marks each row\nconst ids = original.idea_ids || [];\nreturn ids.map(id => ({\n  json: {\n    idea_id: id,\n    category: original.category,\n    buffer_post_id: postResult.post.id,\n    new_status: 'Posted'\n  }\n}));"
      },
      "id": "ab3c1dec-0788-4142-bd08-4f77f8287318",
      "name": "Check Response A2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        384
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "idea_id "
          ],
          "value": {
            "idea_id ": "={{ $json.idea_id }}",
            "status": "={{ $json.new_status }}"
          },
          "schema": [
            {
              "id": "idea_id ",
              "displayName": "idea_id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "df18266f-07e1-4f5a-bdb7-66e91d19a2be",
      "name": "Mark Rows Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qjHjbvAvw8nJ9fHL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Config Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config Sheet": {
      "main": [
        [
          {
            "node": "Read Review Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Review Sheet": {
      "main": [
        [
          {
            "node": "Select Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Posts": {
      "main": [
        [
          {
            "node": "Post Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Loop": {
      "main": [
        [
          {
            "node": "Group Into Carousels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download From Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download From Drive": {
      "main": [
        [
          {
            "node": "Upload To Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Cloudinary": {
      "main": [
        [
          {
            "node": "Attach Cloudinary URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Cloudinary URL": {
      "main": [
        [
          {
            "node": "Post Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Into Carousels": {
      "main": [
        [
          {
            "node": "Which Buffer Account?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Buffer Account?": {
      "main": [
        [
          {
            "node": "Post To Buffer (Account 1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post To Buffer (Account 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post To Buffer (Account 1)": {
      "main": [
        [
          {
            "node": "Check Response A1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post To Buffer (Account 2)": {
      "main": [
        [
          {
            "node": "Check Response A2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response A1": {
      "main": [
        [
          {
            "node": "Mark Rows Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response A2": {
      "main": [
        [
          {
            "node": "Mark Rows Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "014d65d8-e6c6-477b-b91b-feda3852cb46",
  "meta": {
    "instanceId": "d6108346ea3eff253d2f594042772a3f74c702fa1c47a44609362609adbe7f30"
  },
  "nodeGroups": [],
  "id": "1mwFXkqZl4XTogn5",
  "tags": []
}